<%- include('../partials/navigation.ejs') %>

<div class="bg-gray-100 px-5 pt-5 rounded-md">

    <div class="flex items-center justify-between flex-wrap gap-5">
        <p class="text-xl xl:text-2xl font-semibold text-tColor2">All Customers</p>
        <!-- <div class="relative">
            <select name="" id="" class="px-2 py-1 border-2 focus:outline-none">
                <option value="">Filter</option>
                <option value="">Filter 1</option>
                <option value="">Filter 2</option>
                <option value="">Filter 3</option>
                <option value="">Filter 4</option>
            </select>
        </div> -->
    </div>

    <!-- All Orders Table -->
    <div class="mt-5">

        <div class="flex flex-col justify-around">

            <div class="bg-white pt-5 overflow-x-scroll md:overflow-hidden px-5">
                <table class="table-auto text-xs md:text-sm profile-table w-[150%] md:w-full">
                    <thead>
                        <tr>
                            <th>FULL NAME</th>
                            <th>PHONE NUMBER</th>
                            <th>TOTAL ORDERS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let user of paginatedCustomers) { %>

                        <tr>
                            <td>
                                <div class="flex items-center gap-4">
                                    <img src="<%= user.pic_url %>" alt="" class="h-9 w-9 rounded-[50%]">
                                    <div>
                                        <p class="font-semibold"><%= user.user_name %></p>
                                        <p class="text-tColor"><%= user.user_email %></< /p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>

                                    <div class="flex items-center gap-1">

                                        <p><%= user.phone %></p>
                                    </div>
                                </div>
                            </td>
                            <td><%= user.total_orders %></td>
                        </tr>

                        <% } %>
                    </tbody>
                </table>

            </div>

            <div class="flex flex-col xl:flex-row justify-between xl:items-center py-5 gap-2">
                <p class="text-center text-xs xl:text-sm text-tColor">
                    Show <%= paginatedCustomers.length %> from <%= customers.length %> customers
                </p>

                <div
                    class="scale-75 xl:scale-100 grid grid-flow-col content-center ml-auto mr-auto xl:mr-0 font-semibold xl:text-sm text-tColor gap-3">
                    <% if (page > 1) { %>
                    <a class="h-6 w-6 rounded flex items-center justify-center"
                        href="/extra-category?page=<%= page - 1 %>">
                        <svg width="6" height="10" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.125 0.75L0.875 7L7.125 13.25" stroke="#84818A" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <% } %>

                    <% const maxPagesToShow = 8;
                                               const startPage = Math.max(1, page - Math.floor(maxPagesToShow / 2));
                                               const endPage = Math.min(
                                                   Math.ceil(customers.length / customersPerPage),
                                                   startPage + maxPagesToShow - 1
                                               );
                                    
                                               for (let i = startPage; i <= endPage; i++) { %>
                    <a class=" h-6 w-6 rounded flex items-center justify-center <%= i === page ? 'bg-blue-100 text-primaryColor' : '' %>"
                        href="/all-customers?page=<%= i %>"><%= i %></a>
                    <% } %>

                    <% if (page < Math.ceil(customers.length / customersPerPage)) { %>
                    <a class="h-6 w-6 rounded flex items-center justify-center"
                        href="/extra-category?page=<%= page + 1 %>">
                        <svg width="6" height="10" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.875 0.75L7.125 7L0.875 13.25" stroke="#84818A" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <% } %>
                </div>
            </div>

        </div>


    </div>

</div>


</div>

</section>





<!-- Header Section Script -->
<script>
    // Menu toggle button 
    const toggleButton = document.getElementById("toggle-button");
    const toggleMenu = document.getElementById("toggle-menu");
    var toggleCounter = 1;
    toggleButton.onclick = function () {
        toggleCounter++;
        if (toggleCounter % 2 == 0) {
            toggleMenu.classList.remove("hidden");
            toggleMenu.classList.add("grid");
        }
        else {
            toggleMenu.classList.remove("grid");
            toggleMenu.classList.add("hidden");
        }
    }


</script>


<!-- Accordion Script -->
<script>
    const accordionButtons = document.querySelectorAll('.accordion-button');
    const accordionMenu = document.querySelectorAll('.menu-collapse');

    accordionButtons.forEach(button => {
        button.addEventListener('click', () => {
            const accordionCollapse = button.nextElementSibling;
            button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
            accordionCollapse.classList.toggle('hidden');
        });
    });

    // Set all accordion items to collapsed state by default
    document.querySelectorAll('.menu-collapse').forEach(collapse => {
        collapse.classList.add('hidden');
    });


</script>


<!-- Table Script -->
<script>
    const tableButtons = document.querySelectorAll('.table-button');
    const tableMenu = document.querySelectorAll('.table-collapse');
    const tableClose = document.querySelectorAll('.table-close');

    tableButtons.forEach(button => {
        button.addEventListener('click', () => {
            const tableCollapse = button.nextElementSibling;
            button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
            tableCollapse.classList.toggle('hidden');
        });
    });

    tableClose.forEach(button => {
        button.addEventListener('click', () => {
            const tableCollapse = button.parentElement.parentElement.parentElement;
            button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
            tableCollapse.classList.toggle('hidden');
        });
    });


</script>

<script>
    const tables = document.querySelectorAll('.table-collapse');
    window.onclick = function (event) {
        for (let table of tables) {
            if (event.target == table) {
                table.classList.toggle('hidden');
            }
        }
    };
</script>




</body>

</html>