<%- include('../partials/navigation.ejs') %>

<div class="bg-gray-100 px-5 pt-5 rounded-md">

    <div class="flex justify-between items-center flex-wrap gap-5">
        <p class="text-xl xl:text-2xl font-semibold text-tColor2">Categories</p>
        <div class="bg-white relative ml-auto">
            <input class="py-2 pl-3 pr-6 focus:outline-none max-w-[205px] rounded-md" type="text"
                placeholder="Search categories...">
            <i class="fa-solid fa-magnifying-glass absolute top-1/2 right-2 -translate-y-1/2 text-tColor"></i>
        </div>
        <button class="primary-btn" id="add-category-btn">+ Add Category</button>
    </div>

    <!-- All Orders Table -->
    <div class="mt-5">

        <div class="flex flex-col justify-around">

            <div class="flex flex-col xl:flex-row justify-between items-start xl:items-center gap-3">

                <ul class="flex gap-7 border-b-2 pb-2 flex-wrap">
                    <li><a href="/main-category" class="font-bold border-b-2 border-primaryColor pb-[10px]">Main</a>
                    </li>
                    <li><a href="/sub-category">Sub</a></li>
                    <li><a href="/extra-category">Extra</a></li>
                </ul>

                <div class="relative ml-auto">
                    <button class="accordion-button menu-list">
                        <i class="fa-solid fa-filter"></i>
                        <span>Filter By</span>
                        <i class="fa-solid fa-sort-down -mt-1"></i>
                    </button>

                    <ul class="menu-collapse bg-white absolute right-0 p-5 shadow-md">
                        <li><a href="#">By Name</a></li>
                        <li><a href="#">By Price</a></li>
                        <li><a href="#">By Category</a></li>
                        <li><a href="#">By Sales</a></li>
                    </ul>
                </div>


            </div>

            <div class="bg-white pt-5 mt-5 overflow-x-scroll md:overflow-hidden px-5">
                <table class="table-auto text-xs md:text-sm profile-table w-[150%] md:w-full">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>CATEGORY</th>
                            <th>PRODUCTS</th>
                            <!-- <th>SALES</th> -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let mainCat of paginatedCategories) { %>
                        <tr>
                            <td class="text-tColor"><%= mainCat.main_cat_id %></td>
                            <td>
                                <div class="flex items-center gap-5">
                                    <img src="<%= mainCat.main_cat_image_url %>" alt="" class="h-9 w-9">
                                    <p><%= mainCat.main_cat_name %></p>
                                </div>
                            </td>

                            <td><span><%= mainCat.total_products %></span> Products</td>
                            <!-- <td>$<%= mainCat.total_price %></td> -->
                            <!-- <td>
                                <a href="#"><i class="fa-solid fa-ellipsis text-tColor"></i></a>
                            </td> -->
                        </tr>

                        <% } %>




                    </tbody>
                </table>

            </div>

            <!-- Page Select -->
            <div class="flex flex-col xl:flex-row justify-between xl:items-center py-5 gap-2">
                <p class="text-center text-xs xl:text-sm text-tColor">
                    Show <%= paginatedCategories.length %> from <%= mainCats.length %> categories
                </p>

                <div
                    class="scale-75 xl:scale-100 grid grid-flow-col content-center ml-auto mr-auto xl:mr-0 font-semibold xl:text-sm text-tColor gap-3">
                    <% if (page > 1) { %>
                    <a class="h-6 w-6 rounded flex items-center justify-center"
                        href="/main-category?page=<%= page - 1 %>">
                        <svg width="6" height="10" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.125 0.75L0.875 7L7.125 13.25" stroke="#84818A" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <% } %>

                    <% const maxPagesToShow = 8;
                                   const startPage = Math.max(1, page - Math.floor(maxPagesToShow / 2));
                                   const endPage = Math.min(
                                       Math.ceil(mainCats.length / productsPerPage),
                                       startPage + maxPagesToShow - 1
                                   );
                        
                                   for (let i = startPage; i <= endPage; i++) { %>
                    <a class=" h-6 w-6 rounded flex items-center justify-center <%= i === page ? 'bg-blue-100 text-primaryColor' : '' %>"
                        href="/main-category?page=<%= i %>"><%= i %></a>
                    <% } %>

                    <% if (page < Math.ceil(mainCats.length / productsPerPage)) { %>
                    <a class="h-6 w-6 rounded flex items-center justify-center"
                        href="/main-category?page=<%= page + 1 %>">
                        <svg width="6" height="10" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.875 0.75L7.125 7L0.875 13.25" stroke="#84818A" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <% } %>
                </div>
            </div>

        </div>


    </div>

</div>


</div>

<!-- Add Extra Category Section -->
<!-- <div class="bg-white h-screen max-h-[1080px] w-full xl:w-1/3 2xl:w-1/4 absolute top-0 right-0 shadow-lg p-10 hidden"
    id="add-category">
    <form action="/main-category" method="POST" enctype="multipart/form-data">

        <div class="flex justify-between items-center">
            <p class="text-xl font-semibold">Add Category</p>
            <button id="category-close-button"><i
                    class="fa-solid fa-xmark bg-secondaryColor text-white text-sm rounded-[50%] px-[7px] py-[5px]"></i></button>
        </div>

        <p class="my-5 text-tColor2">You only need to enter the basic information when you create the categories.</p>

        <div>
            <p class="mb-2">Category Name</p>
            <input class=" border rounded px-3 py-2 flex-1 focus:outline-none focus:shadow-outline w-full" type="text"
                id="main_cat_name" name="main_cat_name" placeholder="Category Name">
        </div>

        <div class="mt-5">
            <label for="main-cat-image"
                class="flex flex-col items-center justify-center border border-dashed border-primaryColor rounded-lg cursor-pointer py-3 w-full">
                <div class="flex items-center gap-5">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.5 13.9998H0.875H1.5ZM1.5 3.99984H2.125H1.5ZM4.83333 0.666504V0.0415039V0.666504ZM13.1667 0.666504V0.0415043V0.666504ZM16.5 3.99984H15.875H16.5ZM16.5 9.28579H17.125H16.5ZM8.45262 17.3332V16.7082V17.3332ZM4.83333 17.3332V17.9582V17.3332ZM15.5237 11.6428L15.0817 11.2009L15.5237 11.6428ZM10.8096 16.3569L11.2516 16.7988L10.8096 16.3569ZM9.83333 13.9998H9.20833H9.83333ZM13.1667 10.6665V10.0415V10.0415V10.6665ZM6.05806 6.0579C5.81398 6.30197 5.81398 6.6977 6.05806 6.94178C6.30214 7.18586 6.69786 7.18586 6.94194 6.94178L6.05806 6.0579ZM7.82149 5.17835L8.26343 5.62029L7.82149 5.17835ZM10.1785 5.17835L9.73657 5.62029V5.62029L10.1785 5.17835ZM11.0581 6.94178C11.3021 7.18586 11.6979 7.18586 11.9419 6.94178C12.186 6.6977 12.186 6.30197 11.9419 6.0579L11.0581 6.94178ZM9.625 4.83317C9.625 4.48799 9.34518 4.20817 9 4.20817C8.65482 4.20817 8.375 4.48799 8.375 4.83317H9.625ZM8.375 8.99984C8.375 9.34502 8.65482 9.62484 9 9.62484C9.34518 9.62484 9.625 9.34502 9.625 8.99984H8.375ZM2.125 13.9998L2.125 3.99984H0.875L0.875 13.9998H2.125ZM4.83333 1.2915L13.1667 1.2915V0.0415043L4.83333 0.0415039V1.2915ZM15.875 3.99984V9.28579H17.125V3.99984H15.875ZM8.45262 16.7082H4.83333V17.9582H8.45262V16.7082ZM15.0817 11.2009L10.3677 15.9149L11.2516 16.7988L15.9656 12.0848L15.0817 11.2009ZM8.45262 17.9582C9.50244 17.9582 10.5093 17.5411 11.2516 16.7988L10.3677 15.9149C9.85979 16.4228 9.17092 16.7082 8.45262 16.7082V17.9582ZM15.875 9.28579C15.875 10.0041 15.5897 10.693 15.0817 11.2009L15.9656 12.0848C16.708 11.3424 17.125 10.3356 17.125 9.28579H15.875ZM2.125 3.99984C2.125 2.50407 3.33756 1.2915 4.83333 1.2915V0.0415039C2.64721 0.0415038 0.875001 1.81371 0.875 3.99984H2.125ZM0.875 13.9998C0.875 16.186 2.64721 17.9582 4.83333 17.9582V16.7082C3.33756 16.7082 2.125 15.4956 2.125 13.9998H0.875ZM13.1667 1.2915C14.6624 1.2915 15.875 2.50407 15.875 3.99984H17.125C17.125 1.81371 15.3528 0.0415044 13.1667 0.0415043V1.2915ZM10.4583 17.3332V13.9998H9.20833V17.3332H10.4583ZM13.1667 11.2915L16.5 11.2915V10.0415H13.1667V11.2915ZM10.4583 13.9998C10.4583 12.5041 11.6709 11.2915 13.1667 11.2915V10.0415C10.9805 10.0415 9.20833 11.8137 9.20833 13.9998H10.4583ZM6.94194 6.94178L8.26343 5.62029L7.37955 4.73641L6.05806 6.0579L6.94194 6.94178ZM9.73657 5.62029L11.0581 6.94178L11.9419 6.0579L10.6205 4.73641L9.73657 5.62029ZM8.375 4.83317V8.99984H9.625V4.83317H8.375ZM8.26343 5.62029C8.67023 5.2135 9.32977 5.2135 9.73657 5.62029L10.6205 4.73641C9.7255 3.84146 8.2745 3.84146 7.37955 4.73641L8.26343 5.62029Z"
                            fill="#2874A6" />
                    </svg>
                    <p class="text-sm text-primaryColor text-center">Click here or drop svg, png</p>
                </div>
                <input id="main-cat-image" type="file" name="main-cat-image" class="hidden"
                    onchange="displaySelectedImage()" />
            </label>
        </div>

        <p id="selected-image-name" class="text-tColor2 mt-3"></p>
        
        <img id="selected-image" src="#" alt="" class="hidden" />

        <button class="bg-primaryColor text-white rounded px-4 py-2 w-full mt-5" type="submit">Publish</button>
    </form>

</div> -->

<div class="bg-white h-screen max-h-[1080px] w-full xl:w-1/3 2xl:w-1/4 absolute top-0 right-0 shadow-lg p-10 hidden"
    id="add-category">
    <form action="/main-category" method="POST" enctype="multipart/form-data">
        <div class="flex justify-between items-center">
            <p class="text-xl font-semibold">Add Category</p>
            <button id="category-close-button">
                <i class="fa-solid fa-xmark bg-secondaryColor text-white text-sm rounded-[50%] px-[7px] py-[5px]"></i>
            </button>
        </div>

        <p class="my-5 text-tColor2">You only need to enter the basic information when you create the categories.</p>

        <div>
            <p class="mb-2">Category Name</p>
            <input class="border rounded px-3 py-2 flex-1 focus:outline-none focus:shadow-outline w-full" type="text"
                id="main_cat_name" name="main_cat_name" placeholder="Category Name">
        </div>

        <div class="mt-5">
            <!-- Use a label for the file input -->
            <label for="main-cat-image" id="label-text"
                class="flex flex-col items-center justify-center border border-dashed border-primaryColor rounded-lg cursor-pointer py-3 w-full">
                <div class="flex items-center gap-5">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.5 13.9998H0.875H1.5ZM1.5 3.99984H2.125H1.5ZM4.83333 0.666504V0.0415039V0.666504ZM13.1667 0.666504V0.0415043V0.666504ZM16.5 3.99984H15.875H16.5ZM16.5 9.28579H17.125H16.5ZM8.45262 17.3332V16.7082V17.3332ZM4.83333 17.3332V17.9582V17.3332ZM15.5237 11.6428L15.0817 11.2009L15.5237 11.6428ZM10.8096 16.3569L11.2516 16.7988L10.8096 16.3569ZM9.83333 13.9998H9.20833H9.83333ZM13.1667 10.6665V10.0415V10.0415V10.6665ZM6.05806 6.0579C5.81398 6.30197 5.81398 6.6977 6.05806 6.94178C6.30214 7.18586 6.69786 7.18586 6.94194 6.94178L6.05806 6.0579ZM7.82149 5.17835L8.26343 5.62029L7.82149 5.17835ZM10.1785 5.17835L9.73657 5.62029V5.62029L10.1785 5.17835ZM11.0581 6.94178C11.3021 7.18586 11.6979 7.18586 11.9419 6.94178C12.186 6.6977 12.186 6.30197 11.9419 6.0579L11.0581 6.94178ZM9.625 4.83317C9.625 4.48799 9.34518 4.20817 9 4.20817C8.65482 4.20817 8.375 4.48799 8.375 4.83317H9.625ZM8.375 8.99984C8.375 9.34502 8.65482 9.62484 9 9.62484C9.34518 9.62484 9.625 9.34502 9.625 8.99984H8.375ZM2.125 13.9998L2.125 3.99984H0.875L0.875 13.9998H2.125ZM4.83333 1.2915L13.1667 1.2915V0.0415043L4.83333 0.0415039V1.2915ZM15.875 3.99984V9.28579H17.125V3.99984H15.875ZM8.45262 16.7082H4.83333V17.9582H8.45262V16.7082ZM15.0817 11.2009L10.3677 15.9149L11.2516 16.7988L15.9656 12.0848L15.0817 11.2009ZM8.45262 17.9582C9.50244 17.9582 10.5093 17.5411 11.2516 16.7988L10.3677 15.9149C9.85979 16.4228 9.17092 16.7082 8.45262 16.7082V17.9582ZM15.875 9.28579C15.875 10.0041 15.5897 10.693 15.0817 11.2009L15.9656 12.0848C16.708 11.3424 17.125 10.3356 17.125 9.28579H15.875ZM2.125 3.99984C2.125 2.50407 3.33756 1.2915 4.83333 1.2915V0.0415039C2.64721 0.0415038 0.875001 1.81371 0.875 3.99984H2.125ZM0.875 13.9998C0.875 16.186 2.64721 17.9582 4.83333 17.9582V16.7082C3.33756 16.7082 2.125 15.4956 2.125 13.9998H0.875ZM13.1667 1.2915C14.6624 1.2915 15.875 2.50407 15.875 3.99984H17.125C17.125 1.81371 15.3528 0.0415044 13.1667 0.0415043V1.2915ZM10.4583 17.3332V13.9998H9.20833V17.3332H10.4583ZM13.1667 11.2915L16.5 11.2915V10.0415H13.1667V11.2915ZM10.4583 13.9998C10.4583 12.5041 11.6709 11.2915 13.1667 11.2915V10.0415C10.9805 10.0415 9.20833 11.8137 9.20833 13.9998H10.4583ZM6.94194 6.94178L8.26343 5.62029L7.37955 4.73641L6.05806 6.0579L6.94194 6.94178ZM9.73657 5.62029L11.0581 6.94178L11.9419 6.0579L10.6205 4.73641L9.73657 5.62029ZM8.375 4.83317V8.99984H9.625V4.83317H8.375ZM8.26343 5.62029C8.67023 5.2135 9.32977 5.2135 9.73657 5.62029L10.6205 4.73641C9.7255 3.84146 8.2745 3.84146 7.37955 4.73641L8.26343 5.62029Z"
                            fill="#2874A6" />
                    </svg>
                    <p class="text-sm text-primaryColor text-center">Click here or drop svg, png</p>
                </div>
                <input id="main-cat-image" type="file" name="main-cat-image" class="hidden"
                    onchange="displaySelectedImage()" />
            </label>
        </div>

        <p id="selected-image-name" class="text-tColor2 mt-3"></p>
        <img id="selected-image" src="#" alt="" class="hidden" />
        <!-- Add an <img> element to display the selected image -->

        <button class="bg-primaryColor text-white rounded px-4 py-2 w-full mt-5" type="submit">Publish</button>
    </form>
</div>

</section>


<!-- <script>
    function displaySelectedImage() {
        const fileInput = document.getElementById("main-cat-image");
        const selectedImageName = document.getElementById("selected-image-name");
        const selectedImage = document.getElementById("selected-image");

        if (fileInput.files.length > 0) {
            const imageName = fileInput.files[0].name;
            selectedImageName.textContent = `Selected Image: ${imageName}`;
            selectedImage.src = URL.createObjectURL(fileInput.files[0]);
            selectedImage.classList.remove("hidden");
        } else {
            selectedImageName.textContent = "";
            selectedImage.src = "";
            selectedImage.classList.add("hidden");
        }
    }
</script> -->

<script>
    function displaySelectedImage() {
        const fileInput = document.getElementById("main-cat-image");
        const labelText = document.getElementById("label-text");
        const selectedImageName = document.getElementById("selected-image-name");
        const selectedImage = document.getElementById("selected-image");

        if (fileInput.files.length > 0) {
            labelText.style.display = "none";
            const imageName = fileInput.files[0].name;
            selectedImageName.textContent = `Selected Image: ${imageName}`;
            selectedImage.src = URL.createObjectURL(fileInput.files[0]);
            selectedImage.classList.remove("hidden");
        } else {
            labelText.style.display = "block";
            selectedImageName.textContent = "";
            selectedImage.src = "";
            selectedImage.classList.add("hidden");
        }
    }
</script>

<!-- Header Section Script -->
<script>
    // Menu toggle button 
    const toggleButton = document.getElementById("toggle-button");
    const toggleMenu = document.getElementById("toggle-menu");
    var toggleCounter = 1;
    toggleButton.onclick = function () {
        toggleCounter++;
        if (toggleCounter % 2 == 0) {
            toggleMenu.classList.remove("hidden");
            toggleMenu.classList.add("grid");
        }
        else {
            toggleMenu.classList.remove("grid");
            toggleMenu.classList.add("hidden");
        }
    }


</script>


<!-- Accordion Script -->
<script>
    const accordionButtons = document.querySelectorAll('.accordion-button');
    const accordionMenu = document.querySelectorAll('.menu-collapse');

    accordionButtons.forEach(button => {
        button.addEventListener('click', () => {
            const accordionCollapse = button.nextElementSibling;
            button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
            accordionCollapse.classList.toggle('hidden');
        });
    });

    // Set all accordion items to collapsed state by default
    document.querySelectorAll('.menu-collapse').forEach(collapse => {
        collapse.classList.add('hidden');
    });


</script>

<!-- Add Sub Category -->
<script>

    const categoryOpen = document.getElementById("add-category-btn");
    const categoryClose = document.getElementById("category-close-button");
    const categorySection = document.getElementById("add-category");

    categoryOpen.onclick = function () {
        categorySection.classList.remove("hidden");
    }

    categoryClose.onclick = function () {
        categorySection.classList.add("hidden");
    }

</script>

<script>
    const tables = document.querySelectorAll('.table-collapse');
    window.onclick = function (event) {
        for (let table of tables) {
            if (event.target == table) {
                table.classList.toggle('hidden');
            }
        }
    };
</script>




</body>

</html>